html,
body {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  font-family: "Poppins", sans-serif;
}

.adb-modal-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  /* display: none; */
}
.adb-div {
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  justify-content: space-evenly;
  width: 600px;
  height: 400px;
  padding: 20px;
  background-color: white;
}
.adb-img-adblock {
  width: 180px;
  height: 180px;
}
.adb-btn-adblock {
  background-color: rgb(107, 104, 104);
  border-radius: 8px;
  color: white;
  border: none;
  padding: 7px;
  cursor: pointer;
}
.adb-logo-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* width: 100%; */
}
.adb-disable-adblock-div {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.adb-title-adbolck-span {
  font-size: 30px;
  font-weight: bold;
}
.adb-sub-title-adbolck-span {
  font-size: 19px;
}
.adb-turn-off-adblocker-span {
  font-weight: bold;
  font-size: 20px;
}
.adb-logo-img {
  width: 200px;
}
.adb-turn-off-adblocker-ul li {
  width: 200px;
  margin-bottom: 15px;
}
.adb-logo-img-div {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.adb-img-btn-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adb-btn-div {
  margin-top: 10px;
}
